
.molsen-tree-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.molsen-tree-menu > li {
    position: relative;
    margin: 0;
    padding: 0;
}
.molsen-tree-menu > li > a {
    padding: 12px 5px 12px 15px;
    display: block;
}

.tags-bg-php {color: #fff; background-color: #5969AA;}
.tags-bg-python {color: #fff; background-color: #3770A7;}
.tags-bg-mysql {color: #fff; background-color: #ED7E12;}
.tags-bg-redis {color: #fff; background-color: #CD151A;}
.tags-bg-swift {color: #fff; background-color: #FA4625;}
.tags-bg-lua {color: #fff; background-color: #00006C;}
.tags-bg-git {color: #fff; background-color: #EE351E;}